<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% if page.title %} {{ page.title }} | {% endif %} Joe Wheaton</title>
  <meta name="description" content"">
  <meta name="viewport" content"width=device-width">
  
  <link rel="stylesheet" href="/css/boostrap.min.css" media="screen" />
  <link rel="stylesheet" href="/css/style.css" />

  <script src="/js/modernizr.js"></script>
</head>
<body>
  <div id="main">
    <header>
      <h1>Joe Wheaton</h1>
    </header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
    
    {{ content }}
    
    <footer>
      <p>&copy; Joe Wheaton 2012 | All Rights Reserved. </p>
    </footer>
  </div>
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script src="/js/boostrap.min.js"></script>
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-5598112-4']);
  _gaq.push(['_setDomainName', 'josephwheaton.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
